@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-russo: "Russo One", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
}

/* 4. Apply your global base styles */
body {
  background-color: #eaeced;
  font-family: var(--font-urbanist);
  font-optical-sizing: auto;
  font-style: normal;
}
